{% include header.html %}
<font color='yellow'>{% include date.txt %}</font></h6>
<p id="prep"><div id="shadowbox"><b>WILDFIRE PREPAREDNESS LEVELS</b><br>{% include wildfire-prep.html %}</div></p>
<p id="burns"><div id="shadowbox"><b>DAILY PRESCRIBED BURNS (STATEWIDE)</b><br>{% include RX_Planned_AZ.html %}</div></p>
<p id="dngr"><div id="shadowbox"><b>SOUTHWEST AREA FIRE DANGER</b><br>
<img src="https://gacc.nifc.gov/swcc/predictive/intelligence/daily/UPLOAD_Files_toSWCC/F_01_50_Daily_Fire_Danger_DISPATCH.jpg" width="50%"><br>
Click to enlarge.</div></p>
<p id="wwa"><div id="shadowbox"><b>WATCHES/WARNINGS/ADVISORIES</b><br><blockquote>{% include wwa.txt %}</blockquote></div></p>
<p id="7day"><div id="shadowbox"><b>7-DAY FORECAST</b><br><blockquote>{% include 7dayfcast.txt %}</blockquote></div></p>
<p id="awd"><div id="shadowbox"><b>AREA DISCUSSION</b><br><blockquote>{% include afd.txt %}</blockquote></div></p>
<p id="zone"><div id="shadowbox"><b>ZONE 151 FORECAST</b><br><blockquote>{% include zone151.txt %}</blockquote></div></p>
{% include footer.html %}
